html, body, .app {
  height: 100%;
}
html {
  font-family: "微軟正黑體", "PingFang TC", sans-serif;
}

body {
  min-width: 768px;
  background-color: $color-background;
}

.app {
  display: flex;
  flex-direction: column;
  &-header {
    flex: 0 0 auto;
    background-color: $primary-color;
    color: #FFF;
    padding: 1em .8em;
    z-index: 2;
    // box-shadow: 0 3px 5px rgba(0,0,0,0.42);
    &__item {
      display: inline-block;
    }
  }
  &-body {
    flex: 1 0 auto;
  }
}

.side {
  background-color: $color-background-alt-2;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}
