/*doc
---
title: Buttons
name: button
category: basics
---
```html_example
    <button class='p-button k-button'>Buttons</button>
```
*/

.p-button {
  .button-group & {
    margin-right: 8px;
  }
  .content-header & {
    font-size: 15px;
  }
  &--icon-only {
    min-width: 0 !important;
  }
  &--flat {
    background-color: transparent;
    border: 0;
    color: $primary-text-dark;
    &:hover {
      color: $accent-color;
    }
  }
}
.button-group {
  display: inline-block;
}