.card {
  @extend .whiteframe;
  background-color: $color-background-alt-2;
  &__header {
    background-color: $light-primary-color-alt;
    padding: 8px 16px;
  }
  &__title {
    color: $primary-text-dark;
    display: inline-block;
    font-size: .889rem;
    font-weight: 300;
  }
  &__content {
    overflow-x: auto;
  }
  // .k-window & {
  //   margin-left: 0;
  //   margin-right: 0;
  //   margin-bottom: 0;
  //   &:first-child {
  //     margin-top: 0;
  //   }
  // }
}