.data-table {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow-x: visible;
  .k-grid {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  .k-grid-header, .k-grid-pager {
    flex: 0 0 auto;
  }
  .k-grid-content {
    flex: 1 0 0px;
    min-height: 120px;
    overflow-y: auto;
  }
}

/*
 * Grid header style,
 * Override Kendo UI styles
 * --- above are styles that override default
 * below are new styles
 */
 .k-grid .k-grid-header {
  .k-header {
    color: $secondary-text-dark;
    padding: 6px 10px;
    // ---
    font-size: .929em;

    .k-link {
      color: $secondary-text-dark;
    }
  }
}

/*
 * Grid content style
 */
.k-grid td {
  white-space: nowrap;
  font-size: .929em;
  border-color: #C9C9C9;
  padding: 4px 10px;
}
.k-grid tr td {
  border-top-width: 1px;
}
.k-grid-content {
  color: $primary-text-dark;
}
.k-checkbox-label {
  font-size: 14px;
}