// Extends
.whiteframe {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 8px 16px;
}

%vertical-align {
  display: inline-block;
  vertical-align: middle;
}