// Reduce input field height
.k-widget .k-input, input.k-textbox, .k-textbox > input {
  text-indent: 2px;
  padding: 0;
  height: 1.6em;
  line-height: 1.6em;
}
.k-datepicker .k-picker-wrap, .k-dropdown .k-dropdown-wrap {
  padding-right: 1.7em;
  &:before {
    height: 1.6em;
    padding-bottom: 0 !important;
  }
  .k-input {
    padding: 0;
  }
  .k-select {
    min-height: 1.6em;
    line-height: 1.6em;
    width: 1.6em;
  }
}
.k-pager-input.k-label, .k-pager-info.k-label, .k-pager-numbers .k-state-selected {
  line-height: 46px;
}

// Form table layout
.p-form {
  table {
    padding: 4px;
    width: 100%;
  }
  td {
    white-space: nowrap;
    padding: 4px;
    &[colspan] {
      width: 100%;
      input[type="text"]:only-child {
        width: 100%;
      }
    }
  }
  label {
    color: $primary-text-dark;
    font-size: 0.929em;
  }
}

// Input variants
.k-button.k-textbox.k-space-right {
  background-color: $white;
  border-color: #bababa;
  padding: 0 1.7em 0 0;
  .k-icon {
    right: 5px;
  }
  .is-required & {
    background-color: #FAFFBD;
  }
  &:hover {
    background-color: #eaeaea;
    border-color: #8b8b8b;
    input {
      background-color: $white;
    }
  }

}
.is-required {
  .form__label:after {
    content: '\2a';
    color: #C23934;
    margin-left: .25em;
  }
  .k-state-default {
    background-color: #FAFFBD;
    .k-select {
      border-color: #FAFFBD;
    }
    &:hover {
      @extend .k-button.k-textbox.k-space-right:hover;
      .k-select {
        // border-color: #8b8b8b;
      }
    }
  }
  input {
    background-color: #FAFFBD;
    &:hover {
      background-color: $white;
    }
  }
}
.is-focused {
  color: $accent-color !important;
}
