.modal {
  min-height: 125px;
  display: flex;
  flex-direction: column;
  &__content {
    letter-spacing: 0.4px;
    padding: 0 1.1em;
    flex: 1 1 auto;

  }
  &__footer {
    flex: 0 0 auto;
    box-shadow: 0 -2px 0px rgba($black, .12);
    text-align: center;
    padding: 8px 0;
    background-color: $color-background-alt-2;
  }
  &__button {
    min-width: 100px;
    &--primary {
      background-color: $dark-primary-color;
      color: $primary-text-white;
    }
    &--secondary {
      color: $dark-primary-color;
      // background-color: $color-background-alt;
      margin-right: 10px;
    }
  }
}