.sidebar {
  li.k-item, .k-header {
    background-color: $color-background-alt-2;
  }
  .k-state-hover {
    background-color: $color-background-alt;
  }
  .k-item > .k-header, &.k-header, .k-panel {
    border-color: $color-background-alt-2;
  }
  .k-link {
    color: #333;
  }
}