// Override default tabstrip styles
.k-tabstrip-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.k-tabstrip {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .k-tabstrip-items {
    flex: 0 0 auto;
    padding: 4px 16px 0;
  }
  .k-item {
    border: 0;
    margin-right: 3px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0px;
      border-radius: 2px 2px 0 0;
      z-index: -1;
    }
    &.k-state-active {
      background-color: $grey-300;
    }
    .k-loading {
      display: none;
    }
  }
  .k-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .k-content {
    &.k-state-active {
      background-color: $color-background;
      border: 0;
      display: flex !important;
      flex-direction: column;
      flex: 1 1 auto;
      overflow: visible;
      padding: 0;
      // border-top: 1px solid #AAA;
    }
  }
}

.k-tabstrip .content-header {
  background-color: $grey-300;
  padding-bottom: 6px;

}