div.k-window {
  border: 0;
}
.k-window {
  border-radius: 2px;
  &-titlebar {
    font-weight: 300;
    font-size: 1rem;
    // background-color: $accent-color;
    // color: $primary-text-white;
  }
  .k-content {
    box-shadow: 0 -2px 0px rgba($black, .12);
    padding: 0;
  }
}
.k-window, .k-window.k-state-focused {
  box-shadow: 0 5px 15px rgba($black, .5);
}
.p-window {
  @extend .flex-col-container;
  &-header {
    padding: 6px 16px;
    background-color: $grey-300;
  }
  &-body {
    @extend .flex-col-container;
    flex: 1 1 auto;
    overflow-y: auto;
  }
  &-footer {
    padding: 6px 16px;
    text-align: right;
  }
}