.divider {
  margin: 32px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.has-padding {
  padding: 8px 16px;
}

.menu-trigger {
  cursor: pointer;
  margin: 0 16px;
  text-align: center;
  width: 60px;
  &__icon {
    color: $primary-text-white;
    line-height: 48px;
    vertical-align: middle;
  }
}

.subheader {
  margin: 32px 16px;
  opacity: 0.56;
  display: block;
}