// _state.scss

.is-fixed-top {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
}

// helper classes for better data display
.text-highlight {
  color: $accent-color;
}
.text-align-right {
  text-align: right;
}

.k-checkbox-label:before {
	// top: -2px;
}

// helper classes and KendoUI overrides

.sr-only {
  display: none;
}

// Ghost element to vertically center inline elements
// .vertical-center:before {
//   content: '';
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
//   margin-right: -0.25em;
// }

