// _variables.scss

/*
 * Define color schemes
 */

// Primary colors
$indigo-50: #E8EAF6;
$indigo-100: #C5CAE9;
$indigo-200: #9FA8DA;
$indigo-300: #7986CB;
$indigo-400: #5C6BC0;
$indigo-500: #3F51B5;
$indigo-600: #3949AB;
$indigo-700: #303F9F;
$indigo-800: #283593;
$indigo-900: #1A237E;
$indigo-a100: #8C9EFF;
$indigo-a200: #536DFE;
$indigo-a400: #3D5AFE;
$indigo-a700: #304FFE;

// Accent color
$light-blue: #03A9F4;

// Shades of grey
$white: #FFF;
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
$black: #000;

// Set primary and accent color variables
$primary-color: $indigo-500;
$dark-primary-color: $indigo-700;
$light-primary-color: $indigo-100;
$light-primary-color-alt: $indigo-50;
$accent-color: $light-blue;

// Set text color variables
$primary-text-dark: rgba($black,.87);
$secondary-text-dark: rgba($black,.54);
$disabled-text-dark: rgba($black,.38);
$primary-text-white: $white;
$secondary-text-white: rgba($white,.7);
$disabled-text-white: rgba($white,.5);

// Set background color variables
$color-background: $white;
$color-background-alt: $grey-50;
$color-background-alt-2: $grey-200;