// Breakpoint variables
$phone-width: 414px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-screen-width: 1200px;

// color variables
$danger: #ED5565;
$warning: #FFCE54;
$success: #A0D468;
$rise: #0000FF;
$drop: #9D2933;

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.center-block {
  float: none;
}
.page-header {
  margin: 20px 0 15px;
  padding-bottom: 0;
  border-bottom: 0;
  h1 {
    display: inline-block;
    font-size: 1.667em;
    margin: 0;
  }
  span {
    margin-left: 4px;
  }
  // remove top margin in main content area
  .main & {
    margin-top: 0;
  }
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar {
  border-radius: 0;
  background-color: #303641;
  margin-bottom: 10px;
  .navbar-brand {
    font-size: 1.833em;
    padding-left: 25px;
    opacity: .7;
    transition: opacity .4s ease-in-out;
    @media (max-width: $tablet-width){
      font-size: 1.5em;
    }
  }
  .nav li a {
    font-size: 14px;
    display: block;
    color: #AAABAE;
    &:hover, &:focus {
      color: #FFF;
      background-color: #2B303A;
    }
  }
  .navbar-toggle {
    position: relative;
    border-color: #2B303A;
    &:hover {
      background-color: #2B303A;
    }
    .icon-bar {
      background-color: rgba(255,255,255,.9);
    }
  }
}
.dropdown-submenu {
  position: relative;
  & > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
  }
  & > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  & .open {
    & > .dropdown-menu {
      display: block;
    }
    &  > a:after {
      border-left-color: #FFF;
    }
  }
  &.pull-left {
    float: none;
    & > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      border-radius: 6px 0 6px 6px;
    }
  }
}



/*
 * Main content
 */

.main {
  .panel-heading {
    // increase default panel headng font size
    font-size: 1.667em;
  }
}

// chart styles
.chart {
  &-header {
    border-bottom: 1px solid #E6E9ED;
    text-align: center;
    height: 53px;
  }
  &-title {
    font-size: 1.667em;
    color: #656D78;
  }
  &-time {
    margin-top: 4px;
    color: #AAB2BD;
  }
  &-body {
    padding: 10px 0;
  }
  &-info {
    text-align: right;
    margin-bottom: 4px;
    .text-blue {
      color: $rise;
    }
    .text-red {
      color: $drop;
    }
  }
}

// tile styles on grid page
.tile-container {
  display: flex;
  flex-wrap: nowrap;
  .chart-body & {
    &:nth-child(3n) {
      margin-bottom: 6px;
    }
  }
}

.tile {
  border-radius: 2px;
  flex: 1 1 33%;
  margin: 4px;
  padding: 8px;
  float: left;
  width: 32%;
  @media (max-width: $tablet-width) {
    margin: 1px;
  }

  &:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  }
  &_header {
    color: rgba(255,255,255,.87);
    font-size: 1.667em;
    width: 35%;
    text-align: right;
    display: inline-block;
    @media (max-width: $desktop-width) {
      font-size: 1.167em;
    }
    @media (max-width: $tablet-width) {
      font-size: 1.333em;
    }
    @media (max-width: $phone-width) {
      font-size: 1.167em;
      display: block;
      text-align: left;
      width: 100%;
    }

  }
  &_body {
    color: #000;
    font-size: 1.667em;
    width: 60%;
    text-align: right;
    display: inline-block;
    @media (max-width: $desktop-width) {
      font-size: 1.167em;
    }
    @media (max-width: $tablet-width) {
      font-size: 1.333em;
    }
    @media (max-width: $phone-width) {
      display: block;
      font-size: 1.5em;
      width: 100%;
    }
  }

  &--danger {
    background-color: $danger;
  }
  &--warning {
    background-color: $warning;
  }
  &--success {
    background-color: $success;
  }
  &--rise .tile_body {
    color: $rise;
  }
  &--drop .tile_body {
    color: $drop;
  }
  &--legend {
    border: 1px solid rgba(0,0,0,.87);
    .tile_body, .tile_header {
      color: #000;
    }
  }
}